In [1]:
root = '/network/group/aopp/predict/TIP016_PAXTON_RPSPEEDY/ML4L/ECMWF_files/raw/' 
MLS = f'{root}processed_data/joined_data/2016_MLS.parquet'
RML = f'{root}processed_data/joined_data/2016_RML.parquet'

In [2]:
import pandas as pd
pd.options.mode.chained_assignment = None #Ignore SettingWithCopyWarning - we are safe here


df_MLS = pd.read_parquet(MLS)
df_RML = pd.read_parquet(RML)

In [3]:
df_MLS

,sp,msl,u10,v10,t2m,aluvp,aluvd,alnip,alnid,istl1,...,z_v20,slor_v20,clake_monthly_value,cl_saline,MODIS_LST,latitude_ERA,longitude_ERA,time,number_of_modis_observations,skt_unnormalised
0,0.319781,-3.312112,-0.272708,-0.433632,-1.281853,-0.540116,-0.530686,-1.221462,-1.287657,0.053567,...,-17.852295,-0.876279,-0.264192,-0.069769,268.034760,54.660397,-163.59375,2016-01-01 00:00:00,3,267.247559
1,0.488203,-3.344310,-1.563556,-0.321791,-0.938681,-0.405089,-0.468140,-1.542488,-1.693358,0.053567,...,-1.275181,-0.013794,-0.263227,-0.069769,272.575195,54.660397,-163.12500,2016-01-01 00:00:00,5,277.714355
2,0.356893,-3.287817,-0.523570,0.267331,-1.176200,-0.585751,-0.564334,-0.857613,-0.884000,0.053567,...,-2.451099,-0.114521,-0.264192,-0.069769,264.893341,54.941427,-163.59375,2016-01-01 00:00:00,1,270.976074
3,0.468569,-3.296013,-1.536535,0.212600,-0.953725,-0.405089,-0.468140,-1.542488,-1.693358,0.053567,...,2.348283,-0.013794,-0.210984,-0.069769,269.294556,54.941427,-163.12500,2016-01-01 00:00:00,1,277.122559
4,0.563676,-3.255912,-1.270628,0.163648,-0.969454,-0.405089,-0.468140,-1.542488,-1.693358,0.053567,...,-0.229546,-0.013794,-0.264192,-0.069769,272.096771,55.222457,-163.12500,2016-01-01 00:00:00,13,277.179199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011763,0.996274,1.173116,2.265275,0.176417,-1.829187,-0.405095,-0.468147,-1.542491,-1.693358,-12.171152,...,0.134740,-0.013794,-0.264192,-0.069769,258.804779,70.117048,-145.50000,2016-12-31 23:00:00,14,260.710632
3011764,0.985719,1.173702,2.505697,-0.401147,-1.835227,-0.405095,-0.468147,-1.542491,-1.693358,-12.251472,...,0.140643,-0.013794,-0.261306,-0.069769,258.174957,70.117048,-144.75000,2016-12-31 23:00:00,5,260.425476
3011765,0.931810,1.176921,2.693306,-0.782223,-1.882982,-0.405095,-0.468147,-1.542491,-1.693358,-12.772021,...,0.430301,-0.013794,-0.214426,-0.069769,257.600525,70.117048,-144.00000,2016-12-31 23:00:00,22,259.671570
3011766,0.931016,1.164042,2.973031,-1.040240,-1.899964,-0.405095,-0.468147,-1.542491,-1.693358,-13.012979,...,0.102275,-0.013794,-0.252729,-0.069769,258.027435,70.117048,-143.25000,2016-12-31 23:00:00,16,259.351257
3011767,0.960637,1.148821,3.134540,-1.281940,-1.901446,-0.405095,-0.468147,-1.542491,-1.693358,-13.064830,...,0.038609,-0.013794,-0.264192,-0.069769,256.001099,70.117048,-142.50000,2016-12-31 23:00:00,8,259.386414

In [6]:
df_RML.columns

Index(['sp', 'msl', 'u10', 'v10', 't2m', 'aluvp', 'aluvd', 'alnip', 'alnid',
       'istl1', 'istl2', 'sd', 'd2m', 'fal', 'skt', 'slt_v15', 'sdfor_v15',
       'sdor_v15', 'cvl_v15', 'lsm_v15', 'isor_v15', 'tvl_v15', 'tvh_v15',
       'cvh_v15', 'si10_v15', 'anor_v15', 'cl_v15', 'dl_v15', 'z_v15',
       'slor_v15', 'sdor_v20', 'cvl_v20', 'lsm_v20', 'isor_v20', 'cvh_v20',
       'si10_v20', 'anor_v20', 'cl_v20', 'dl_v20', 'z_v20', 'slor_v20',
       'clake_monthly_value', 'cl_saline', 'cl_saline_max', 'MODIS_LST',
       'latitude_ERA', 'longitude_ERA', 'time', 'number_of_modis_observations',
       'skt_unnormalised'],
      dtype='object')

In [7]:
df_MLS.columns

Index(['sp', 'msl', 'u10', 'v10', 't2m', 'aluvp', 'aluvd', 'alnip', 'alnid',
       'istl1', 'istl2', 'sd', 'd2m', 'fal', 'skt', 'slt_v15', 'sdfor_v15',
       'sdor_v15', 'cvl_v15', 'lsm_v15', 'isor_v15', 'tvl_v15', 'tvh_v15',
       'cvh_v15', 'si10_v15', 'anor_v15', 'cl_v15', 'dl_v15', 'z_v15',
       'slor_v15', 'sdor_v20', 'cvl_v20', 'lsm_v20', 'isor_v20', 'cvh_v20',
       'si10_v20', 'anor_v20', 'cl_v20', 'dl_v20', 'z_v20', 'slor_v20',
       'clake_monthly_value', 'cl_saline', 'MODIS_LST', 'latitude_ERA',
       'longitude_ERA', 'time', 'number_of_modis_observations',
       'skt_unnormalised'],
      dtype='object')

In [8]:
df_RML.drop('cl_saline_max', axis=1) == df_MLS

,sp,msl,u10,v10,t2m,aluvp,aluvd,alnip,alnid,istl1,...,z_v20,slor_v20,clake_monthly_value,cl_saline,MODIS_LST,latitude_ERA,longitude_ERA,time,number_of_modis_observations,skt_unnormalised
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3011763,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3011764,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3011765,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3011766,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3011767,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True